@inject IStringLocalizer<MainLayout> L

<MudAppBar Elevation="0">
    <MudTooltip Text="Toggle Drawer">
        <MudIconButton Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
    </MudTooltip>
     <MudButton Variant="Variant.Text" DisableElevation="true" Href="/">Sea Pizza</MudButton>
    <MudSpacer />
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />
        <LanguageSelector />
        <MudTooltip Text="Fork Repository">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
                           Href="https://github.com/fullstackhero/blazor-wasm-boilerplate" Target="_blank" />
        </MudTooltip>
    </MudHidden>
    <MudMenu AnchorOrigin="Origin.BottomRight" LockScroll="true" TransformOrigin="Origin.TopRight">
        <ActivatorContent>
            <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" />
        </ActivatorContent>
        <ChildContent>
            <div class="py-2" style="min-width: 220px">
                <MudMenuItem OnClick="Profile">
                    <div class="d-flex">
                        <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Person" />
                        <MudText>@L["Account"]</MudText>
                    </div>
                </MudMenuItem>
                <MudMenuItem Href="/dashboard">
                    <div class="d-flex">
                        <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Dashboard" />
                        <MudText>@L["Dashboard"]</MudText>
                    </div>
                </MudMenuItem>
                <div class="mt-4 mx-4">
                    <MudButton Color="Color.Error" FullWidth="true" StartIcon="@Icons.Material.Filled.Logout"
                        Variant="Variant.Filled" OnClick="Logout">
                        @L["Logout"]
                    </MudButton>
                </div>
            </div>
        </ChildContent>
    </MudMenu>
</MudAppBar>

<MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Never">
    <NavMenu />
</MudDrawer>

<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
        @ChildContent
        <MudScrollToTop TopOffset="400" Style="z-index:2000;">
            <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
        </MudScrollToTop>
    </MudContainer>
</MudMainContent>